<div class="row">
  <div class="col-sm-4">
    <h3>This is a header</h3>
    <p>This is a test to test out the columns and at what point does the column wrap itself so I will just keep typing
      and hope that this
      becomes noticable</p>
  </div>
  <div class="col-xs-4">

  </div>
  <div class="col-sm-4">
    <h3>This is another header</h3>
    <p>This is the next level and should be larger because it is a size 12 but it may also be smaller I just have to
      test it, and find out,
      How mych do I have to type</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-4">
    <h3 class="list-group-item-heading">This is other heading</h3>
    <ul class="list-group">
      <li class="list-group-item">SQL<span class="badge">Beginner</span></li>
      <li class="list-group-item">C#<span class="badge">Proficient</span></li>
      <li class="list-group-item">C++<span class="badge">Proficient</span></li>
      <li class="list-group-item">Type Scrip><span class="badge">Beginner</span></li>
    </ul>
  </div>
  <div class="col-xs-4">

  </div>
  <div class="col-sm-4">
    <h3 class="list-group-item-heading">First we need a header</h3>
    <div class="list-group">
      <a class="list-group-item">This is some text</a>
      <a class="list-group-item">This is some more text</a>
      <a class="list-group-item">nice little bullets</a>
      <a class="list-group-item">and one more</a>
    </div>
  </div>
</div>
